{% extends 'base.html.twig' %}
{% block block_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/playerstable.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block body %}
    <body>
    <div>
        {{ parent() }}
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="btn-toolbar justify-content-end position-relative btnNew"
                         style="z-index:2000!important;">
                        {% include 'frontend/players/form_modal_new_player.html.twig' %}
                    </div>
                    <section class="sectionTable1">
                        <table class="custom-table-games">
                            <thead>
                            <tr class="row m-auto">
                                <th class="col">Players</th>
                                <th class="col">Victorias</th>
                                <th class="col">Derrotas</th>
                                <th class="col">Part.totales</th>
                                <th class="col">KDA</th>
                                <th class="col">Bajaditas</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, player in totalgames %}
                                <tr class="row m-auto">
                                    <td class="col"><strong class="text-white">{{ key }}</strong></td>
                                    <td class="col">{{ player.Victorias }}</td>
                                    <td class="col">{{ player.Derrotas }}</td>
                                    {% set totalGames = player.Victorias + player.Derrotas %}
                                    <td class="col">{{ totalGames }}</td>
                                    {% set division = (player.Victorias and totalGames ? player.Victorias / totalGames : 0) %}
                                    <td class="col"> {{ division | slice (0, 4) }} </td>
                                    <td class="col">{{ player.Bajaditas }} </td>
                                    {% if totalGames == 0 %}
                                        <td class="col">
                                            <button class="btn  delete-btn" data-name="{{ key }}"><i
                                                        class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block block_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/players.js') }}"></script>
{% endblock %}


